.navig{
	color: #EAF9E7;
	background-color: #013237;
}

body, .bodcol{
	background-color: #EAF9E7;
}

.crd-body{
	background-color: #C0E6BA;
}

.mid-font{
	font-family: 'Allura', cursive;
}